{% include 'imports.html' %}

<script>
    const token = cookie.get('admin_dash_token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid" && data.is_admin === true) {
                document.querySelector('.admin-section').style.display = 'block';
                document.querySelector('#dashboard').classList.add('has-text-link');

            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });
</script>

<div class="admin-section" style="display: none;">
    <!--dashboard navbar-->
    {% include 'admin/navbar.html' %}

    <!--dashboard sidebar-->
    <div style="display: flex;">
        {% include 'admin/sidebar.html' %}

        <!--dashboard content-->
        <div class="container is-fluid" style="height: 100vh; overflow-y: auto;">
            {% include 'admin/overview.html' %}
        </div>
    </div>
</div>
