{% include 'imports.html' %}

<script>
    const token = cookie.get('admin_dash_token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid" && data.is_admin === true) {
                // const user_email = document.getElementById('user-email');
                // user_email.textContent = data.email;
                document.querySelector('.notifications-section').style.display = 'block';
                document.querySelector('#notifications').classList.add('has-text-link');
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });
</script>

<div class="notifications-section" style="display: none;">
    <!--dashboard navbar-->
    {% include 'admin/navbar.html' %}

    <!--dashboard sidebar-->
    <div style="display: flex;">
        {% include 'admin/sidebar.html' %}

        <!--dashboard content-->
        <div class="container is-fluid" style="height: 100vh; overflow-y: auto;">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 50px;">
                <h1 class="title" style="margin-bottom: 0;">Notifications</h1>
                <div class="field has-addons mb-4">
                    <div class="control">
                        <input id="new-notification" class="input" style="height: 50px;" type="text" placeholder="Post new notification">
                    </div>
                    <div class="control">
                        <button style="height: 50px;" id="notify-btn" class="button is-link">
                            <span class="icon">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box"
                style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
                <div id="notifications-container">
                    <!--{/** notifications}-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fetch('/api/notifications', {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${token}`
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.message === "Notifications retrieved successfully") {
            const notificationsContainer = document.getElementById('notifications-container');
            data.notifications.forEach(notification => {
                const notificationElement = document.createElement('div');
                notificationElement.classList.add('media');
                notificationElement.style.borderBottom = '1px solid #f1f1f1';
                notificationElement.innerHTML = `
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img class="mt-3" style="width: 50px; height: 50px; border-radius: 50%;" src="/api/uploads/${notification.profile_pic.profile_pic}" alt="Profile Picture">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a class="has-text-link">${notification.user.email}</a>
                                <br>
                                <a style="color: #000;">${notification.notification.message}</a>
                                <br>
                                <a style="color: #acacac;">${new Date(notification.notification.created_at).toLocaleString()}</a>
                            </p>
                        </div>
                    </div>
                `;
                notificationsContainer.appendChild(notificationElement);
            });
        }
    })
    .catch(error => {
        showNotification('Error fetching notifications:', 'error');
    });

    const notifyBtn = document.getElementById('notify-btn');
    const newNotificationInput = document.getElementById('new-notification');
    notifyBtn.addEventListener('click', () => {
        const message = newNotificationInput.value.trim();
        if (message) {
            fetch('/api/notifications', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ message })
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Notification created successfully") {
                    showNotification('Notification posted successfully', 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 4000);
                }
            })
            .catch(error => {
                showNotification('Error posting notification:', error);
            });
        }
    });
</script>
