<aside class="menu" style="width: 250px; height: 100vh; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
    <ul class="menu-list" style="padding: 0; list-style: none; text-align: left;">
        <li style="padding: 10px 20px;">
            <a id="dashboard" href="/a/dashboard" style="display: flex; align-items: center;">
                <span class="icon" style="font-size: 1.5em; margin-right: 10px;">
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                Overview
            </a>
        </li>
        <li style="padding: 10px 20px;">
            <a id="users" href="/a/users" style="display: flex; align-items: center;">
                <span class="icon" style="font-size: 1.5em; margin-right: 10px;">
                    <i class="fas fa-users"></i>
                </span>
                Users
            </a>
        </li>
        <li style="padding: 10px 20px;">
            <a id="settings" href="/a/settings" style="display: flex; align-items: center;">
                <span class="icon" style="font-size: 1.5em; margin-right: 10px;">
                    <i class="fas fa-cogs"></i>
                </span>
                Settings
            </a>
        </li>
        <li style="padding: 10px 20px;">
            <a id="notifications" href="/a/notifications" style="display: flex; align-items: center;">
                <span class="icon" style="font-size: 1.5em; margin-right: 10px;">
                    <i class="fas fa-bell"></i>
                </span>
                Notifications
            </a>
        </li>
        <li style="padding: 10px 20px; border-top: 1px solid #f1f1f1;">
            <a onclick="logout()" class="has-background-light" style="display: flex;height: 50px; align-items: center;">
            <span class="icon" style="font-size: 1.5em; margin-right: 10px;">
                <i class="fas fa-power-off"></i>
            </span>
            Logout
            </a>
        </li>
    </ul>
</aside>