<aside class="menu" style="width: 250px; height: 100vh; border-right: 1.5px solid #f1f1f1;box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
    <ul class="menu-list">
        <li>
            <a href="/a/dashboard">
                <span class="icon">
                    <i class="fas fa-tachometer-alt"></i>
                </span>
                Overview
            </a>
        </li>
        <li>
            <a href="/a/users">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                Users
            </a>
        </li>
        <li>
            <a href="/a/settings">
                <span class="icon">
                    <i class="fas fa-cogs"></i>
                </span>
                Settings
            </a>
        </li>
        <li>
            <a href="/a/reports">
                <span class="icon">
                    <i class="fas fa-chart-line"></i>
                </span>
                Reports
            </a>
        </li>
        <li>
            <a href="/a/support">
                <span class="icon">
                    <i class="fas fa-life-ring"></i>
                </span>
                Support
            </a>
        </li>
    </ul>
</aside>