{% include 'imports.html' %}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="box" style="max-width: 400px; margin: 0 auto; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; border: 1px solid #f1f1f1;">
                <span class="icon is-large has-text-danger">
                    <i class="fas fa-exclamation-triangle fa-4x"></i>
                </span>
                <h2 class="title mt-4">404 - Page Not Found</h2>
                <p class="subtitle is-6 mt-2">Sorry, the page you are looking for does not exist.</p>
                <div class="field mt-4">
                    <div class="control">
                        <a href="/" class="button is-link" style="width: 100%; height: 50px;">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>