<div class="container">
    <div class="columns is-centered ml-6 mr-6 mt-6 is-multiline">
        <div class="column is-one-quarter is-flex is-justify-content-center">
            <div class="box" style="box-shadow: none; margin-bottom: 0.5rem;">
                <h4 class="title is-1 has-text-centered has-text-link">
                    <i class="fas fa-headphones"></i>
                </h4>
                <h5 class="title is-6 has-text-black-ter has-text-weight-medium has-text-centered">
                    Headphones
                </h5>
            </div>
        </div>

        <div class="column is-one-quarter is-flex is-justify-content-center">
            <div class="box" style="box-shadow: none; margin-bottom: 0.5rem;">
                <h4 class="title is-1 has-text-centered has-text-link">
                    <i class="fas fa-laptop"></i>
                </h4>
                <h5 class="title is-6 has-text-black-ter has-text-weight-medium has-text-centered">
                    Laptops
                </h5>
            </div>
        </div>

        <div class="column is-one-quarter is-flex is-justify-content-center">
            <div class="box" style="box-shadow: none; margin-bottom: 0.5rem;">
                <h4 class="title is-1 has-text-centered has-text-link">
                    <i class="fas fa-mobile-alt"></i>
                </h4>
                <h5 class="title is-6 has-text-black-ter has-text-weight-medium has-text-centered">
                    Mobile Phones
                </h5>
            </div>
        </div>

        <div class="column is-one-quarter is-flex is-justify-content-center">
            <div class="box" style="box-shadow: none; margin-bottom: 0.5rem;">
                <h4 class="title is-1 has-text-centered has-text-link">
                    <i class="fas fa-tv"></i>
                </h4>
                <h5 class="title is-6 has-text-black-ter has-text-weight-medium has-text-centered">
                    Televisions
                </h5>
            </div>
        </div>
    </div>
</div>