{% include 'imports.html' %}

<script>
    const token = cookie.get('dash_token');
    if (token) {
        // post token to /api/verifyToken
        fetch('/api/verifyToken', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Token is valid" && data.is_admin === false) {
                    window.location.href = '/u/dashboard';
                }
            })
            .catch(error => {
                //;
            });
    }
</script>

{% include 'cookie.html' %}

{% include 'navbar.html' %}

{% include 'hero.html' %}

<div class="container mt-6">
    <h1 class="is-4 title has-text-black-ter has-text-weight-bold">Featured Products</h1>
</div>

<div class="container mt-6">
    <div class="columns is-multiline" id="products-container">

    </div>
</div>

{% include 'footer.html' %}

<script>
    AOS.init();

    const fetchProducts = async () => {
        try {
            const response = await fetch('/api/products', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await response.json();
            const products = data.products;
            const productsContainer = document.querySelector('#products-container');
            let currentPage = 1;
            const itemsPerPage = 8;
            const totalPages = Math.ceil(products.length / itemsPerPage);

            function displayProducts(page) {
                const start = (page - 1) * itemsPerPage;
                const end = start + itemsPerPage;
                const paginatedProducts = products.slice(start, end);

                productsContainer.innerHTML = '';

                paginatedProducts.forEach(product => {
                    const productElement = document.createElement('div');
                    productElement.className = 'column is-3';
                    productElement.setAttribute('data-aos', 'fade-up');
                    productElement.setAttribute('data-aos-duration', '1000');
                    productElement.innerHTML = `
                <div class="card product-card animate__animated animate__fadeInUp">
                    <div class="card-image">
                        <figure class="image">
                            <img src="${product.url}" alt="${product.name}" style="object-fit: contain;">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="subhas-text-weight-bold has-text-black is-6" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">${product.name}</p>
                                <p class="subis-6">$${product.price}.00</p> 
                                <p class="subis-6">${product.store}</p> 
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="button">Buy Now</button>
                        </div>
                    </div>
                </div>
                `;
                    productsContainer.appendChild(productElement);
                });

                const paginationContainer = document.createElement('nav');
                paginationContainer.className = 'pagination is-centered mt-6';
                paginationContainer.setAttribute('role', 'navigation');
                paginationContainer.setAttribute('aria-label', 'pagination');
                paginationContainer.innerHTML = `
                <a class="pagination-previous" ${page === 1 ? 'disabled' : ''}>Previous</a>
                <a class="pagination-next" ${page === totalPages ? 'disabled' : ''}>Next</a>
                <ul class="pagination-list">
                    ${Array.from({ length: totalPages }, (_, i) => i + 1).map(pageNum => `
                        <li>
                            <a class="pagination-link ${pageNum === page ? 'is-current' : ''}" 
                               aria-label="Page ${pageNum}" 
                               aria-current="${pageNum === page ? 'page' : 'false'}">${pageNum}</a>
                        </li>
                    `).join('')}
                </ul>
            `;

                const existingPagination = document.querySelector('.pagination');
                if (existingPagination) {
                    existingPagination.remove();
                }
                productsContainer.after(paginationContainer);

                const prevButton = paginationContainer.querySelector('.pagination-previous');
                const nextButton = paginationContainer.querySelector('.pagination-next');
                const pageLinks = paginationContainer.querySelectorAll('.pagination-link');

                prevButton.addEventListener('click', () => {
                    if (currentPage > 1) {
                        currentPage--;
                        displayProducts(currentPage);
                    }
                });

                nextButton.addEventListener('click', () => {
                    if (currentPage < totalPages) {
                        currentPage++;
                        displayProducts(currentPage);
                    }
                });

                pageLinks.forEach(link => {
                    link.addEventListener('click', (e) => {
                        currentPage = parseInt(e.target.textContent);
                        displayProducts(currentPage);
                    });
                });
            }

            displayProducts(currentPage);
        } catch (error) {
            showNotification('Error fetching products', 'error');
        }
    };

    fetchProducts();
</script>