<!-- filepath: HIT200API/templates/navbar.html -->
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Site Logo" width="112" height="28">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Catalogue
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Option 1
                    </a>
                    <a class="navbar-item">
                        Option 2
                    </a>
                    <a class="navbar-item">
                        Option 3
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="Search for products..."
                        style="width: 600px;">
                        <span class="icon is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <button>About</button>
            </div>
            <div class="navbar-item">
                <button>Contact Us</button>
            </div>
            <div class="navbar-item">
                <figure class="image is-32x32">
                    <img class="is-rounded profile-photo" src="{{ url_for('static', filename='images/user.svg') }}" alt="Profile Photo">
                </figure>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    My Account
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        Login
                    </a>
                    <a class="navbar-item">
                        Sign Up
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <span class="icon wishlist-count">
                    <i class="fas fa-heart"></i>
                    <span class="count" id="wishlist-count"></span>
                </span>
            </div>
        </div>
    </div>
</nav>