<nav class="navbar has-background-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1 class="title has-text-black">PricePick</h1>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
        </div>

        <div style="flex-grow: 1; display: flex; justify-content: center;">
            <div class="navbar-item" style="width: 50%;">
                <div class="field" style="width: 100%;">
                    <p class="control has-icons-right">
                        <input class="input has-background-white has-text-black" type="text" style="border: 2px solid #3273dc; height: 50px;" placeholder="Search...">
                        <span class="icon is-right has-background-link" style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;color: #fff; height: 50px;">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <a class="navbar-item has-text-black" href="/register">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                Post a deal
            </a>
            <a class="navbar-item has-text-black" href="/register">
                <span class="icon">
                    <img src="{{ url_for('static', filename='/images/user.svg')}}" alt="" srcset="">
                </span>
                Sign up
            </a>
        </div>
    </div>
</nav>