{% include 'imports.html' %}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="box px-6 py-6" style="max-width: 500px; margin: 0 auto; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
                <h2 class="title">Forgot Password</h2>
                <p class="subtitle is-6 mt-2">Please enter your email below to reset your password.</p>
                <form class="forgot-password-form">
                    <div class="field">
                        <label class="label has-text-left" for="email">Email</label>
                        <div class="control">
                            <input class="input" id="email" type="email" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button style="width: 100%; height: 45px;" id="send-reset-link" class="button is-link" type="submit">Send Reset Link</button>
                        </div>
                    </div>
                    <p class="subtitle is-6 mt-2">Remembered your password? <a href="/login" class="has-text-weight-bold">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('email').addEventListener('input', function () {
        const emailInput = this.value;
        let messageElement = document.getElementById('email-message');
        const sendButton = document.getElementById('send-reset-link');

        if (!messageElement) {
            messageElement = document.createElement('p');
            messageElement.id = 'email-message';
            messageElement.classList.add('has-text-danger', 'mt-2');
            this.parentNode.appendChild(messageElement);
        }

        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (emailPattern.test(emailInput)) {
            this.setCustomValidity('');
            this.classList.remove('is-danger');
            messageElement.textContent = '';
            sendButton.disabled = false;
        } else {
            this.classList.add('is-danger');
            sendButton.disabled = true;
        }
    });

    document.getElementById('send-reset-link').disabled = true;

    document.querySelector('.forgot-password-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const email = document.getElementById('email').value;
        const data = { email: email };

        fetch('/api/forgotPassword', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Password reset email sent successfully") {
                showNotification(data.message, 'success');
            } else {
               showNotification(data.message, 'error');
            }
        })
        .catch((error) => {
            showNotification('An error occurred. Please try again later.', 'error');
        });
    });
</script>