{% include 'imports.html' %}

<script>
    const token = cookie.get('dash_token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid" && data.is_admin === false) {
                document.querySelector('.forum-section').style.display = 'block';
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });
</script>

<!-- Initially hidden section -->
 <div class="forum-section" style="display: none;">
    <div class="navbar is-light">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-brand has-background-light">
                    <a class="navbar-item">
                        <i class="fas fa-qrcode" style="font-size: 14px; margin-left: 8px;"></i>
                        <h1 class="is-6 has-text-weight-bold" style="font-size: 14px;">Download PricePick app</h1>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="container py-3">
        <div class="navbar">
            <div class="navbar-start">
                <h1 class="is-3 has-text-link subtitle has-text-weight-bold">PricePick</h1>
            </div>
            <div class="navbar-center">
                <div class="field has-addons">
                    <div class="control has-icons-right" style="position: relative; width: 400px;">
                        <input class="input px-5"
                            style="border-radius: 25px; border: 2px solid #3273dc; width: 100%; max-width: 600px; height: 45px;"
                            type="text" placeholder="Search for products">
                        <span class="icon is-right"
                            style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%);">
                            <button class="button has-background-link"
                                style="border-radius: 50%; height: 35px; width: 35px;">
                                <i class="fas fa-search" style="color: #fff;"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <button onclick="window.location.href='/u/profile';" class="button px-4 py-2 has-text-weight-bold"
                    style="display: flex; align-items: center;border-radius: 50%;">
                    <img src="" id="user-profile-img" alt="" style="height: 25px;width: 20px; border-radius: 50%;">
                </button>
            </div>
        </div>
    </div>
 </div>