{% include 'imports.html' %}

<script>
    const token = cookie.get('dash_token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid") {
                document.querySelector('.forum-section').style.display = 'block';
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });
</script>

<!-- Initially hidden section -->
 <div class="forum-section" style="display: none;">
forum
 </div>