{% include 'imports.html' %}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="box px-6 py-6"
                style="max-width: 500px; margin: 0 auto; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
                <h2 class="title has-text-grey-darker has-text-weight-bold">Sign in to your account</h2>
                <form class="login-form">
                    <div class="field">
                        <label class="label has-text-left">Email</label>
                        <div class="control">
                            <input class="input" id="email" type="email" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-left">Password</label>
                        <div class="control">
                            <input class="input" id="password" type="password" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <p class="subtitle is-6 has-text-right"><a href="/forgot_password"
                            class="has-text-weight-bold">Forgot
                            password?</a></p>

                    <div class="field">
                        <div class="control">
                            <button style="width: 100%; height: 45px;" id="login-button" class="button is-link"
                                type="submit">Login</button>

                        </div>
                    </div>
                    <p class="subtitle is-6 mt-2">New to PricePick? <a href="/register"
                            class="has-text-weight-bold">Open an account</a></p>
                    <div class="field">
                        <div class="control">
                            <button style="width: 100%; height: 45px;" id="google-login-button" class="button"
                                type="button">
                                <span class="icon">
                                    <img src="{{ url_for('static', filename='images/google.ico')}}" alt="Google icon">
                                </span>
                                <span>Continue with Google</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('email').addEventListener('input', function () {
        const emailInput = this.value;
        const loginButton = document.getElementById('login-button');

        if (validator.isEmail(emailInput)) {
            this.classList.remove('is-danger');
            this.classList.add('is-success');
        } else {
            this.classList.remove('is-success');
            this.classList.add('is-danger');
        }

        if (validator.isEmail(emailInput) && validatePassword(document.getElementById('password').value)) {
            loginButton.disabled = false;
        } else {
            loginButton.disabled = true;
        }
    });

    document.getElementById('password').addEventListener('input', function () {
        const passwordInput = this.value;
        const loginButton = document.getElementById('login-button');

        if (validatePassword(passwordInput)) {
            this.classList.remove('is-danger');
            this.classList.add('is-success');
        } else {
            this.classList.remove('is-success');
            this.classList.add('is-danger');
        }

        if (validatePassword(passwordInput) && validator.isEmail(document.getElementById('email').value)) {
            loginButton.disabled = false;
        } else {
            loginButton.disabled = true;
        }
    });

    document.getElementById('login-button').disabled = true;

    function validatePassword(password) {
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        return regex.test(password);
    }

    document.getElementById('google-login-button').addEventListener('click', function () {
        window.location.href = '/api/google/login';
    });

    /**
     * post to /api/login
     */
    document.getElementById('login-button').addEventListener('click', function () {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const loginButton = document.getElementById('login-button');
        loginButton.disabled = true;
        loginButton.innerHTML = '<span class="icon is-loading is-small"><i class="fas fa-spinner fa-spin"></i></span>';
        setTimeout(function () {
            loginButton.innerHTML = 'Login';
            loginButton.disabled = false;
        }, 4000);
        fetch('/api/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                email: email,
                password: password
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === "login successfull") {
                    cookie.set('access_token', data.access_token, { expires: 1 / 24 });
                    fetch('/api/sendOtp', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${data.access_token}`
                        }
                    })
                        .then(response => response.json())
                        .then(otpData => {
                            if (otpData.message === "OTP sent successfully") {
                                showNotification('OTP sent successfully', 'success');
                                setTimeout(function () {
                                    window.location.href = '/otp';
                                }, 4000);
                            } else {
                                showNotification(otpData.message, 'error');
                            }
                        })
                        .catch(error => {
                            showNotification('An error occurred while sending OTP, please try again', 'error');
                        });
                } else {
                    showNotification(data.message, 'error');
                }
            })
            .catch(error => {
                showNotification('An error occurred, please try again', 'error');
            });
    });
</script>