{% include 'imports.html' %}

<script>
    const token = cookie.get('dash_token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid" && data.is_admin === false) {
                document.querySelector('.profile-section').style.display = 'block';
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });

    fetch('/api/user/profile', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            document.querySelector('#user-fname').textContent = data.first_name + ' ' + data.last_name;
            document.querySelector('#city').textContent = data.city;
            cookie.set('status', data.subscribed, { expires: 1/24 });
            const joinedDate = new Date(data.joined_at);
            const options = { day: 'numeric', month: 'long', year: 'numeric' };
            document.querySelector('#joined_at').textContent = joinedDate.toLocaleDateString(undefined, options);
        })
        .catch(error => {
            showNotification('Error fetching user profile', 'error');
        });
</script>

<style>
    .header-background {
        height: 200px;
        position: relative;
        /* background img */
        /* background-image: url({{ url_for('static', filename='/images/hero.png') }}); */
        background-size: cover;
        background-position: center;
    }

    .header-background::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(50, 115, 220, 0.5);
        /* Bulma blue link color overlay */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .profile-wrapper {
        position: relative;
        padding: 1rem;
        text-align: center;
    }

    .profile-image {
        position: relative;
        margin-top: -75px;
        border: 4px solid white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: inline-block;
        background: #fff;
        object-fit: cover;
        object-position: center;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-image img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .member-info {
        margin-top: 0.5rem;
    }
</style>

<!-- Initially hidden section -->
<div class="profile-section" style="display: none;">
    <nav class="navbar has-background-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <h1 class="title has-text-black">PricePick</h1>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
            </div>

            <div style="flex-grow: 1; display: flex; justify-content: center;">
                <div class="navbar-item" style="width: 50%;">
                    <div class="field" style="width: 100%;">
                        <p class="control has-icons-right">
                            <input class="input has-background-white has-text-black" type="text"
                                style="border: 2px solid #3273dc; height: 45px;" placeholder="Search...">
                            <span class="icon is-right has-background-link"
                                style="border-top-right-radius: 10px;border-bottom-right-radius: 10px;color: #fff; height: 45px;">
                                <i class="fas fa-search"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <a class="navbar-item has-text-black" href="/u/profile">
                    <span class="icon">
                        <img src="" id="user-profile-img" alt="" srcset="">
                    </span>
                </a>
            </div>

            <script>
                fetch('/api/user/profile', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${cookie.get('dash_token')}`
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.img_url) {
                            document.getElementById('user-profile-img').src = data.img_url;
                            document.getElementById('pro-pic').src = data.img_url;
                            document.getElementById('user-pic').src = data.img_url;
                        } else {
                            /**/
                        }
                    })
                    .catch(error => {
                        /**/
                    });
            </script>
        </div>
    </nav>

    <div class="container mt-6">
        <button class="button" onclick="window.location.href = '/u/dashboard';">
            <i class="fas fa-arrow-left"></i>&nbsp; &nbsp;
            <span>Back</span>
        </button>
    </div>

    <div class="container mt-6"
        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;border-radius: 10px;">
        <div class="header-background" style="border-top-left-radius: 10px;border-top-right-radius: 10px;"></div>
        <div class="profile-wrapper">
            <figure class="image profile-image">
                <img src="" id="user-pic" alt="Profile" class="is-rounded">
            </figure>
            <div class="content has-text-centered">
                <h2 class="title is-4 mb-2" id="user-fname"></h2>
                <p class="member-info has-text-grey">Member since <a class="has-text-grey" id="joined_at"></a> • <a
                        class="has-text-grey" id="city"></a>,&nbsp;ZW</p>
            </div>
        </div>
    </div>

    <div class="container mt-6 mb-6"
        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;border-radius: 10px; padding: 2rem;">
        <h1 class="title is-4">Update Profile</h1>

        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Email</h3>
            <input id="email" type="email" class="input" style="width: 30%;">
        </div>
        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Password</h3>
            <input id="password" type="password" class="input" style="width: 30%;">
        </div>

        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Profile Picture</h3>
            <div style="display: flex; align-items: center; width: 30%;">
                <img id="pro-pic" style="width: 50px; height: 45px; border-radius: 50%; margin-right: 10px;">
                <button id="delete-pic" class="button is-danger" style="margin-right: 10px;">Delete</button>
                <button style="background-color: transparent;">
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" name="resume" id="profile-pic-input" />
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label"> Update </span>
                            </span>
                        </label>
                    </div>
                </button>
                <script>
                    document.getElementById('profile-pic-input').addEventListener('change', function (event) {
                        const file = event.target.files[0];
                        if (file) {
                            const formData = new FormData();
                            formData.append('file', file);

                            fetch('/api/user/profile', {
                                method: 'POST',
                                headers: {
                                    'Authorization': `Bearer ${cookie.get('dash_token')}`
                                },
                                body: formData
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.message === 'Profile pic uploaded successfully') {
                                        showNotification(data.message, 'success');
                                        setTimeout(() => {
                                            window.location.reload();
                                        }, 4000);
                                    } else {
                                        showNotification(data.message, 'error');
                                    }
                                })
                                .catch(error => {
                                    showNotification('Error updating profile picture', 'error');
                                });
                        }
                    });

                    document.getElementById('delete-pic').addEventListener('click', function () {
                        fetch('/api/user/profile', {
                            method: 'DELETE',
                            headers: {
                                'Authorization': `Bearer ${cookie.get('dash_token')}`
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === 'Profile pic deleted successfully') {
                                    showNotification(data.message, 'success');
                                    setTimeout(() => {
                                        window.location.reload();
                                    }, 4000);
                                } else {
                                    showNotification(data.message, 'error');
                                }
                            })
                            .catch(error => {
                                showNotification('Error deleting profile picture', 'error');
                            });
                    });
                </script>
            </div>
        </div>


        <div style="display: flex; justify-content: flex-end; align-items: center; padding: 15px 0;">
            <button id="save-changes" class="button is-link" style="width: 10%;">Save Changes</button>
        </div>
    </div>

    <div class="container mt-6 mb-6"
        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;border-radius: 10px; padding: 2rem;">
        <h1 class="title is-4">Subscriptions</h1>
        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Billing cycle</h3>
            <div class="dropdown" id="billing-cycle-dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Select billing cycle</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </div>
            <div class="dropdown-menu" id="billing-dropdown-menu" role="menu">
                <div class="dropdown-content">
                <a class="dropdown-item" onclick="updateRenewalDate('monthly')">Monthly</a>
                <a class="dropdown-item" onclick="updateRenewalDate('quarterly')">Quarterly</a>
                <a class="dropdown-item" onclick="updateRenewalDate('yearly')">Yearly</a>
            </div>
            </div>
        </div>
        <script>
            function updateRenewalDate(cycle) {
            const today = new Date();
            let renewalDate = new Date(today);
            
            switch(cycle) {
                case 'monthly':
                renewalDate.setMonth(today.getMonth() + 1);
                break;
                case 'quarterly':
                renewalDate.setMonth(today.getMonth() + 3);
                break;
                case 'yearly':
                renewalDate.setFullYear(today.getFullYear() + 1);
                break;
            }
            
            const options = { day: 'numeric', month: 'long', year: 'numeric' };
            document.getElementById('renewal_date').value = renewalDate.toLocaleDateString(undefined, options);
            }
            </script>
            <script>
                document.querySelector('#billing-cycle-dropdown .dropdown-trigger button').addEventListener('click', function () {
                    document.getElementById('billing-cycle-dropdown').classList.toggle('is-active');
                });
            </script>
        </div>
        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Payment Method</h3>
            <div class="dropdown" id="payment-method-dropdown">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Select payment method</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a class="dropdown-item">
                            <span class="icon">
                                <i class="fas fa-credit-card"></i>
                            </span>
                            <span>Credit Card</span>
                        </a>
                        <a class="dropdown-item">
                            <span class="icon">
                                <i class="fab fa-paypal"></i>
                            </span>
                            <span>PayPal</span>
                        </a>
                        <a class="dropdown-item">
                            <span class="icon">
                                <i class="fas fa-university"></i>
                            </span>
                            <span>Bank Transfer</span>
                        </a>
                    </div>
                </div>
            </div>

            <script>
                document.querySelector('#payment-method-dropdown .dropdown-trigger button').addEventListener('click', function () {
                    document.getElementById('payment-method-dropdown').classList.toggle('is-active');
                });
            </script>
        </div>

        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Renewal date</h3>
            <input id="renewal_date" type="text" class="input" style="width: 30%;" disabled>
        </div>

        <div style="display: flex; justify-content: flex-end; align-items: center; padding: 15px 0;">
            <button class="button" style="margin-right: 10px;" id="update-subscription">Subscribe</button>
            <button class="button is-danger" id="cancel-subscription" disabled>Cancel Subscription</button>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
            const status = cookie.get('status');
            const updateButton = document.getElementById('update-subscription');
            const cancelButton = document.getElementById('cancel-subscription');

            if (status === 'false') {
                updateButton.textContent = 'Subscribe';
                cancelButton.disabled = true;
            } else {
                updateButton.textContent = 'Update';
                cancelButton.disabled = false;
            }

            updateButton.addEventListener('click', function () {
                if (status === 'false') {
                // Logic to subscribe the user
                fetch('/api/subscribe', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${cookie.get('dash_token')}`
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                    if (data.message === 'Subscribed successfully') {
                        showNotification(data.message, 'success');
                        setTimeout(() => {
                        window.location.reload();
                        }, 4000);
                    } else {
                        showNotification(data.message, 'error');
                    }
                    })
                    .catch(error => {
                    showNotification('Error subscribing', 'error');
                    });
                } else {
                // Logic to update subscription
                }
            });
            });
        </script>
    </div>
</div>

<script>
    /*post to /api/updateProfile*/
    document.getElementById('save-changes').addEventListener('click', function () {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const data = {
            email: email,
            password: password
        };

        fetch('/api/updateProfile', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${cookie.get('dash_token')}`
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Profile updated successfully') {
                    showNotification(data.message, 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 4000);
                } else {
                    showNotification(data.message, 'error');
                }
            })
            .catch(error => {
                showNotification('Error updating profile', 'error');
            });
    });
</script>