{% include 'imports.html' %}

<script>
    const token = cookie.get('dash_token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid" && data.is_admin === false) {
                document.querySelector('.profile-section').style.display = 'block';
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });

    fetch('/api/user/profile', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            document.querySelector('#user-fname').textContent = data.first_name + ' ' + data.last_name;
            document.querySelector('#city').textContent = data.city;
            cookie.set('status', data.subscribed, { expires: 1/24 });
            cookie.set('email', data.email, { expires: 1/24 });
            const joinedDate = new Date(data.joined_at);
            const options = { day: 'numeric', month: 'long', year: 'numeric' };
            document.querySelector('#joined_at').textContent = joinedDate.toLocaleDateString(undefined, options);
        })
        .catch(error => {
            showNotification('Error fetching user profile', 'error');
        });
</script>

<style>
    .header-background {
        height: 200px;
        position: relative;
        /* background img */
        background-image: url({{ url_for('static', filename='/images/hero.png') }});
        background-size: cover;
        background-position: center;
    }

    .header-background::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(50, 115, 220, 0.5);
        /* Bulma blue link color overlay */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .profile-wrapper {
        position: relative;
        padding: 1rem;
        text-align: center;
    }

    .profile-image {
        position: relative;
        margin-top: -75px;
        border: 4px solid white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: inline-block;
        background: #fff;
        object-fit: cover;
        object-position: center;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-image img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .member-info {
        margin-top: 0.5rem;
    }
</style>

<!-- Initially hidden section -->
<div class="profile-section" style="display: none;">
    <div class="navbar is-light">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-brand has-background-light">
                    <a class="navbar-item">
                        <i class="fas fa-qrcode" style="font-size: 14px; margin-left: 8px;"></i>
                        <h1 class="is-6 has-text-weight-bold" style="font-size: 14px;">Download PricePick app</h1>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="container py-3">
        <div class="navbar">
            <div class="navbar-start">
                <h1 class="is-3 has-text-link subtitle has-text-weight-bold">PricePick</h1>
            </div>
            <div class="navbar-center">
                <div class="field has-addons">
                    <div class="control has-icons-right" style="position: relative; width: 400px;">
                        <input class="input px-5"
                            style="border-radius: 25px; border: 2px solid #3273dc; width: 100%; max-width: 600px; height: 45px;"
                            type="text" placeholder="Search for products">
                        <span class="icon is-right"
                            style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%);">
                            <button class="button has-background-link"
                                style="border-radius: 50%; height: 35px; width: 35px;">
                                <i class="fas fa-search" style="color: #fff;"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <button onclick="window.location.href='/u/profile';" class="button px-4 py-2 has-text-weight-bold"
                    style="display: flex; align-items: center;border-radius: 50%;">
                    <img src="" id="user-profile-img" alt="" style="height: 25px;width: 20px; border-radius: 50%;">
                </button>
            </div>
        </div>
    </div>

            <script>
                fetch('/api/user/profile', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${cookie.get('dash_token')}`
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.img_url) {
                            document.getElementById('user-profile-img').src = data.img_url;
                            document.getElementById('pro-pic').src = data.img_url;
                            document.getElementById('user-pic').src = data.img_url;
                        } else {
                            /**/
                        }
                    })
                    .catch(error => {
                        /**/
                    });
            </script>
        </div>
    </nav>

    <div class="container mt-6">
        <button class="button" onclick="window.location.href = '/u/dashboard';">
            <i class="fas fa-arrow-left"></i>&nbsp; &nbsp;
            <span>Back</span>
        </button>
    </div>

    <div class="container mt-6"
        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;border-radius: 10px;">
        <div class="header-background" style="border-top-left-radius: 10px;border-top-right-radius: 10px;"></div>
        <div class="profile-wrapper">
            <figure class="image profile-image">
                <img src="" id="user-pic" alt="Profile" class="is-rounded">
            </figure>
            <div class="content has-text-centered">
                <h2 class="title is-4 mb-2" id="user-fname"></h2>
                <p class="member-info has-text-grey">Member since <a class="has-text-grey" id="joined_at"></a> • <a
                        class="has-text-grey" id="city"></a>,&nbsp;ZW</p>
                        <a class="member-info has-text-link has-text-weight-bold" id="logout">logout</a>
                    </div>
        </div>
    </div>

    <div class="container mt-6 mb-6"
        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;border-radius: 10px; padding: 2rem;">
        <h1 class="title is-4">Update Profile</h1>

        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Email</h3>
            <input id="email" type="email" class="input" style="width: 30%;">
        </div>
        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Password</h3>
            <input id="password" type="password" class="input" style="width: 30%;">
        </div>

        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Profile Picture</h3>
            <div style="display: flex; align-items: center; width: 30%;">
                <img id="pro-pic" style="width: 50px; height: 45px; border-radius: 50%; margin-right: 10px;">
                <button id="delete-pic" class="button is-danger" style="margin-right: 10px;">Delete</button>
                <button style="background-color: transparent;">
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" name="resume" id="profile-pic-input" />
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label"> Update </span>
                            </span>
                        </label>
                    </div>
                </button>
                <script>
                    document.getElementById('profile-pic-input').addEventListener('change', function (event) {
                        const file = event.target.files[0];
                        if (file) {
                            const formData = new FormData();
                            formData.append('file', file);

                            fetch('/api/user/profile', {
                                method: 'POST',
                                headers: {
                                    'Authorization': `Bearer ${cookie.get('dash_token')}`
                                },
                                body: formData
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.message === 'Profile pic uploaded successfully') {
                                        showNotification(data.message, 'success');
                                        setTimeout(() => {
                                            window.location.reload();
                                        }, 2000);
                                    } else {
                                        showNotification(data.message, 'error');
                                    }
                                })
                                .catch(error => {
                                    showNotification('Error updating profile picture', 'error');
                                });
                        }
                    });

                    document.getElementById('delete-pic').addEventListener('click', function () {
                        fetch('/api/user/profile', {
                            method: 'DELETE',
                            headers: {
                                'Authorization': `Bearer ${cookie.get('dash_token')}`
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === 'Profile pic deleted successfully') {
                                    showNotification(data.message, 'success');
                                    setTimeout(() => {
                                        window.location.reload();
                                    }, 2000);
                                } else {
                                    showNotification(data.message, 'error');
                                }
                            })
                            .catch(error => {
                                showNotification('Error deleting profile picture', 'error');
                            });
                    });
                </script>
            </div>
        </div>


        <div style="display: flex; justify-content: flex-end; align-items: center; padding: 15px 0;">
            <button id="save-changes" class="button is-link" style="width: 10%;">Save Changes</button>
        </div>
    </div>

    <div class="container mt-6 mb-6"
        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;border-radius: 10px; padding: 2rem;">
        <h1 class="title is-4">Subscriptions</h1>

        <div
            style="display: flex; justify-content: space-between; align-items: center; padding: 15px 0; border-bottom: 1px solid #f1f1f1;">
            <h3 class="is-size-6 has-text-weight-bold">Ecocash Reference Number <a style="cursor: auto;" class="has-text-grey-darker is-6 subtitle">(Enter reference after subscribing then click verify)</a>
            </h3>
            <input id="reference_number" type="text" class="input" style="width: 30%;">
        </div>


        <div style="display: flex; justify-content: flex-end; align-items: center; padding: 15px 0;">
            <button class="button mr-3" onclick="window.open('https://www.paynow.co.zw/Payment/Link/?q=c2VhcmNoPXBlcmN5bWFnb3JhcyU0MGdtYWlsLmNvbSZhbW91bnQ9MjAuMDAmcmVmZXJlbmNlPWQ4ZDEwZmVmLTg1ZDEtNDc2Yy1iMmI5LTY4ZDk4OWQ1OTI0ZSZsPTE%3d', '_blank');">Subscribe</button>
            <button class="button is-link mr-3" id="verify_reference">Verify Reference</button>
            <button class="button is-danger" id="cancel_subscription">Cancel Subscription</button>
        </div>
    </div>

<script>
    document.getElementById('verify_reference').addEventListener('click', function () {
        const referenceNumber = document.getElementById('reference_number').value;
        if (referenceNumber === '') {
            showNotification('Please enter a reference number', 'error');
            return;
        }

        fetch('/api/payments', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${cookie.get('dash_token')}`
            },
            body: JSON.stringify({ reference: referenceNumber })
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Payment successful') {
                    showNotification(data.message, 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                } else {
                    showNotification(data.message, 'error');
                }
            })
            .catch(error => {
                showNotification('Error verifying reference', 'error');
            });
    });

    document.getElementById('cancel_subscription').addEventListener('click', function () {
        fetch('/api/payments/cancel', {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${cookie.get('dash_token')}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Subscription cancelled') {
                    showNotification(data.message, 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                } else {
                    showNotification(data.message, 'error');
                }
            })
            .catch(error => {
                showNotification('Error cancelling subscription', 'error');
            });
    });
</script>

<script>
    /*post to /api/updateProfile*/
    document.getElementById('save-changes').addEventListener('click', function () {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const data = {
            email: email,
            password: password
        };

        fetch('/api/updateProfile', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${cookie.get('dash_token')}`
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Profile updated successfully') {
                    showNotification(data.message, 'success');
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                } else {
                    showNotification(data.message, 'error');
                }
            })
            .catch(error => {
                showNotification('Error updating profile', 'error');
            });
    });
</script>

{% include 'footer.html' %}
</div>

<script>
    document.getElementById('logout').addEventListener('click', function () {
        fetch('/api/logout', {
            method: 'DELETE',
            headers: {
                'Authorization': `Bearer ${cookie.get('dash_token')}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.msg === 'Access token revoked') {
                    showNotification('User logged out', 'success');
                    setTimeout(() => {
                        cookie.clear();
                        window.location.href = '/';
                    }, 2000);
                } else {
                    showNotification(data.msg, 'error');
                }
            })
            .catch(error => {
                showNotification('Error logging out', 'error');
            });
    });
</script>