{% include 'imports.html' %}

<script>
    const token = cookie.get('token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid") {
                document.querySelector('.reset-section').style.display = 'block';
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });
</script>

<!-- Initially hidden section -->
<div class="reset-section" style="display: none;">
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="box" style="max-width: 400px; margin: 0 auto; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; border: 1px solid #f1f1f1;">
                    <span class="icon is-large has-text-success">
                        <i class="fas fa-check-circle fa-4x"></i>
                    </span>
                    <h2 class="title mt-4">Password Reset Successfully</h2>
                    <p class="subtitle is-6 mt-2">Your password has been reset successfully. You can now log in with
                        your
                        new password.</p>
                    <div class="field mt-4">
                        <div class="control">
                            <a href="/login" class="button is-link" style="width: 100%; height: 50px;">Go to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>