{% include 'imports.html' %}

<script>
    const token = cookie.get('token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid" && data.is_admin === false) {
                document.querySelector('.reset-section').style.display = 'block';
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });
</script>

<nav class="navbar" style="background-color: #f1f1f1;border-bottom: 1px solid #dddddd;" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <span class="icon is-large">
                <i class="fas fa-th has-text-link"></i>
            </span>
            <h3 class="title py-2">PricePick</h3>
        </a>
    </div>
</nav>

<!-- Initially hidden section -->
<div class="reset-section" style="display: none;">
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="box px-6 py-6" style="max-width: 500px; margin: 0 auto; box-shadow: none;">                    <span class="icon is-large has-text-success">
                        <i class="fas fa-check-circle fa-4x"></i>
                    </span>
                    <h2 class="title mt-4 has-text-weight-light">Password Reset Successfully</h2>
                    <p class="subtitle is-6 mt-2">Your password has been reset successfully. You can now log in with
                        your
                        new password.</p>
                    <div class="field mt-4">
                        <div class="control">
                            <a href="/login" class="button is-link" style="width: 100%; height: 45px;">Go to Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>