{% include 'imports.html' %}

<script>
    const token = cookie.get('dash_token');
    if (!token) {
        window.location.href = '/e/404';
    }

    fetch('/api/verifyToken', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Token is valid" && data.is_admin === false) {
                document.querySelector('.forum-section').style.display = 'block';
            } else {
                window.location.href = '/e/404';
            }
        })
        .catch(error => {
            window.location.href = '/e/404';
        });
</script>

<!-- Initially hidden section -->
<div class="forum-section" style="display: none;">
    <script>
        fetch('/api/user/profile', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${cookie.get('dash_token')}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.img_url) {
                    document.getElementById('user-profile-img').src = data.img_url;
                } else {
                    showNotification('Error fetching profile image', 'error');
                }
            })
            .catch(error => {
                showNotification('Error fetching profile image', 'error');
            });
    </script>
    <div class="navbar is-light">
        <div class="container">
            <nav class="navbar">
                <div class="navbar-brand has-background-light">
                    <a class="navbar-item">
                        <i class="fas fa-qrcode" style="font-size: 14px; margin-left: 8px;"></i>
                        <h1 class="is-6 has-text-weight-bold" style="font-size: 14px;">Download PricePick app</h1>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="container py-3">
        <div class="navbar">
            <div class="navbar-start">
                <h1 class="is-3 has-text-link subtitle has-text-weight-bold">PricePick</h1>
            </div>
            <div class="navbar-center">
                <div class="field has-addons">
                    <div class="control has-icons-right" style="position: relative; width: 400px;">
                        <input class="input px-5"
                            style="border-radius: 25px; border: 2px solid #3273dc; width: 100%; max-width: 600px; height: 45px;"
                            type="text" placeholder="Search for products">
                        <span class="icon is-right"
                            style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%);">
                            <button class="button has-background-link"
                                style="border-radius: 50%; height: 35px; width: 35px;">
                                <i class="fas fa-search" style="color: #fff;"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <button onclick="window.location.href='/u/profile';" class="button px-4 py-2 has-text-weight-bold"
                    style="display: flex; align-items: center;border-radius: 50%;">
                    <img src="" id="user-profile-img" alt="" style="height: 25px;width: 20px; border-radius: 50%;">
                </button>
            </div>
        </div>
    </div>

    {% include 'hero.html' %}

    <div class="container mt-6">
        <h1 class="is-4 title has-text-black-ter has-text-weight-bold">Customer Reviews</h1>
        <!---write a review button-->
        <button class="button is-link" style="height: 45px;" onclick="showReviewModal()">Write a Review</button>

        <!-- Review Modal -->
        <div class="modal" id="review-modal">
            <div class="modal-background"></div>
            <div class="modal-card" style="border-radius: 10px;">
                <header class="modal-card-head" style="box-shadow: none; margin-bottom: 0;">
                    <p class="modal-card-title">Write a Review</p>
                    <button onclick="closeReviewModal()">
                        <i class="fas fa-times has-text-danger" style="font-size: 20pt;"></i>
                    </button>
                </header>
                <section class="modal-card-body" style="padding-top: 0;">
                    <div class="field">
                        <label class="label">Your Review</label>
                        <div class="control">
                            <textarea class="textarea" id="review-message" placeholder="Write your review here" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <div class="dropdown is-active">
                                <div class="dropdown-trigger">
                                    <button class="button" style="height: 45px;" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>Select Rating</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a class="dropdown-item" onclick="document.getElementById('review-stars').value = 5">5 Stars</a>
                                        <a class="dropdown-item" onclick="document.getElementById('review-stars').value = 4">4 Stars</a>
                                        <a class="dropdown-item" onclick="document.getElementById('review-stars').value = 3">3 Stars</a>
                                        <a class="dropdown-item" onclick="document.getElementById('review-stars').value = 2">2 Stars</a>
                                        <a class="dropdown-item" onclick="document.getElementById('review-stars').value = 1">1 Star</a>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="review-stars" value="5">
                        </div>
                        <div class="control" style="flex-grow: 1;">
                            <button class="button is-link" style="width: 100%; height: 45px;" onclick="submitReview()">Submit</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <script>
            function showReviewModal() {
                document.getElementById('review-modal').classList.add('is-active');
            }

            function closeReviewModal() {
                document.getElementById('review-modal').classList.remove('is-active');
            }

            function submitReview() {
                const message = document.getElementById('review-message').value;
                const stars = document.getElementById('review-stars').value;

                // Submit the review (this is just a placeholder, you need to implement the actual submission logic)
                console.log('Review submitted:', { message, stars });

                // Close the modal
                closeReviewModal();
            }
        </script>
        <!---filter by number of stars-->
        <div class="dropdown is-active ml-3">
            <div class="dropdown-trigger">
                <button class="button" style="height: 45px;" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Filter by Stars</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" onclick="filterReviewsByStars('all')">All Stars</a>
                    <a class="dropdown-item" onclick="filterReviewsByStars(5)">5 Stars</a>
                    <a class="dropdown-item" onclick="filterReviewsByStars(4)">4 Stars</a>
                    <a class="dropdown-item" onclick="filterReviewsByStars(3)">3 Stars</a>
                    <a class="dropdown-item" onclick="filterReviewsByStars(2)">2 Stars</a>
                    <a class="dropdown-item" onclick="filterReviewsByStars(1)">1 Star</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function filterReviewsByStars(stars) {
            const reviews = document.querySelectorAll('#reviews-container .box');
            reviews.forEach(review => {
                const reviewStars = review.querySelectorAll('.icon.has-text-warning').length;
                if (stars === 'all' || reviewStars == stars) {
                    review.style.display = 'block';
                } else {
                    review.style.display = 'none';
                }
            });
        }
    </script>

    <div class="container mt-6">
        <div class="columns is-multiline" id="reviews-container">
            <!-- Reviews will be dynamically inserted here -->
        </div>
    </div>

    <script>
        const productId = new URLSearchParams(window.location.search).get('product_id');

        function fetchReviews() {
            fetch(`/api/reviews/${productId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${cookie.get('dash_token')}`
                }
            })
                .then(response => response.json())
                .then(data => {
                    const reviewsContainer = document.getElementById('reviews-container');
                    reviewsContainer.innerHTML = ''; // Clear existing reviews

                    data.forEach(review => {
                        const reviewElement = document.createElement('div');
                        reviewElement.classList.add('column', 'is-4');
                        reviewElement.innerHTML = `
                            <div style="box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; border-radius: 10px;" class="box">
                                <p class="has-text-weight-bold">${review.user.client_name} <span style="font-size: 1.5em;">·</span> ${new Date(review.created_at).toLocaleDateString('en-US', { weekday: 'short', day: '2-digit', year: 'numeric' })}</p>
                                <p>${generateStars(review.rating)}</p>
                                <p>${review.comment}</p>
                            </div>
                        `;
                        reviewsContainer.appendChild(reviewElement);
                    });
                })
                .catch(error => {
                    console.error('Error fetching reviews:', error);
                });
        }

        function generateStars(rating) {
            let starsHtml = '';
            for (let i = 0; i < 5; i++) {
                if (i < rating) {
                    starsHtml += '<span class="icon has-text-warning"><i class="fas fa-star"></i></span>';
                } else {
                    starsHtml += '<span class="icon has-text-warning"><i class="fas fa-star-half-alt"></i></span>';
                }
            }
            return starsHtml;
        }

        // Fetch reviews on page load
        document.addEventListener('DOMContentLoaded', fetchReviews);
    </script>

    {% include 'footer.html' %}
</div>