{% include 'imports.html' %}

<script>
    const token = cookie.get('dash_token');
    if (token) {
        // post token to /api/verifyToken
        fetch('/api/verifyToken', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${token}`
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Token is valid" && data.is_admin === false) {
                    window.location.href = '/u/dashboard';
                }
            })
            .catch(error => {
                //;
            });
    }
</script>

<nav class="navbar" style="background-color: #f1f1f1;border-bottom: 1px solid #dddddd;" role="navigation"
    aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <span class="icon is-large">
                <i class="fas fa-th has-text-link"></i>
            </span>
            <h3 class="title py-2">PricePick</h3>
        </a>
    </div>
</nav>

<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="box px-6 py-6" style="max-width: 600px; margin: 0 auto; box-shadow:none;">
                <h2 class="title has-text-grey-darker has-text-weight-light">Create your PricePick account</h2>
                <form class="signup-form">
                    <div class="field">
                        <label class="label has-text-left" for="first-name">First Name</label>
                        <div class="control">
                            <input class="input" id="first-name" type="text" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-left" for="last-name">Last Name</label>
                        <div class="control">
                            <input class="input" id="last-name" type="text" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-left" for="city">City</label>
                        <div class="control">
                            <input class="input" id="city" type="text" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-left" for="email">Email</label>
                        <div class="control">
                            <input class="input" id="email" type="email" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-left" for="password">Password</label>
                        <div class="control">
                            <input class="input" id="password" type="password" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-left" for="confirm-password">Confirm Password</label>
                        <div class="control">
                            <input class="input" id="confirm-password" type="password"
                                style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button style="width: 100%; height: 45px;" id="signup-button" class="button is-link"
                                type="submit">Sign Up</button>
                        </div>
                    </div>
                    <p class="subtitle is-6 mt-2">Already have an account? <a href="/login"
                            class="has-text-weight-bold">Login</a></p>
                    <div class="is-flex is-align-items-center my-4">
                        <hr class="is-flex-grow-1 has-background-grey-light">
                        <p class="subtitle is-6 mx-2 mb-0">or continue with</p>
                        <hr class="is-flex-grow-1 has-background-grey-light">
                    </div>
                    <div class="field">
                        <div class="control">
                            <button style="width: 100%; height: 45px;" id="google-signup-button" class="button"
                                type="button">
                                <span class="icon">
                                    <img src="{{ url_for('static', filename='images/google.ico')}}" alt="Google icon">
                                </span>
                                <span>Google</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function validateForm() {
        const firstName = document.getElementById('first-name').value;
        const lastName = document.getElementById('last-name').value;
        const city = document.getElementById('city').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const signupButton = document.getElementById('signup-button');

        const isValidEmail = validator.isEmail(email);
        const isValidPassword = validatePassword(password);
        const isPasswordMatch = password === confirmPassword;
        const isValidFirstName = firstName.trim().length >= 2;
        const isValidLastName = lastName.trim().length >= 2;
        const isValidCity = city.trim().length >= 2;

        document.getElementById('first-name').classList.toggle('is-success', isValidFirstName);
        document.getElementById('first-name').classList.toggle('is-danger', !isValidFirstName);

        document.getElementById('last-name').classList.toggle('is-success', isValidLastName);
        document.getElementById('last-name').classList.toggle('is-danger', !isValidLastName);

        document.getElementById('city').classList.toggle('is-success', isValidCity);
        document.getElementById('city').classList.toggle('is-danger', !isValidCity);

        document.getElementById('email').classList.toggle('is-success', isValidEmail);
        document.getElementById('email').classList.toggle('is-danger', !isValidEmail);

        document.getElementById('password').classList.toggle('is-success', isValidPassword);
        document.getElementById('password').classList.toggle('is-danger', !isValidPassword);

        document.getElementById('confirm-password').classList.toggle('is-success', isPasswordMatch);
        document.getElementById('confirm-password').classList.toggle('is-danger', !isPasswordMatch);

        signupButton.disabled = !(isValidFirstName && isValidLastName && isValidCity && isValidEmail && isValidPassword && isPasswordMatch);
    }

    ['first-name', 'last-name', 'city', 'email', 'password', 'confirm-password'].forEach(id => {
        document.getElementById(id).addEventListener('input', validateForm);
    });

    document.getElementById('signup-button').disabled = true;

    function validatePassword(password) {
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        return regex.test(password);
    }

    document.getElementById('google-signup-button').addEventListener('click', function () {
        window.location.href = '/api/google/login';
    });

    document.getElementById('signup-button').addEventListener('click', function () {
        const firstName = document.getElementById('first-name').value;
        const lastName = document.getElementById('last-name').value;
        const city = document.getElementById('city').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const signupButton = document.getElementById('signup-button');
        signupButton.disabled = true;
        signupButton.innerHTML = '<span class="icon is-loading"><i class="fas fa-spinner fa-spin"></i></span>';
        setTimeout(() => {
            signupButton.innerHTML = 'Sign Up';
            signupButton.disabled = false;
        }, 4000);
        fetch('/api/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                first_name: firstName,
                last_name: lastName,
                city: city,
                email: email,
                password: password,
                confirmPassword: confirmPassword
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === "User registered successfully") {
                    showNotification(data.message, 'success');
                    setTimeout(() => {
                        window.location = '/login'
                    }, 4000);
                } else {
                    signupButton.disabled = false;
                    signupButton.innerHTML = 'Sign Up';
                    showNotification(data.message, 'warning');
                }
            })
            .catch(error => {
                showNotification('An error occurred. Please try again', 'error');
                signupButton.disabled = false;
                signupButton.innerHTML = 'Sign Up';
            });
    });
</script>