{% include 'imports.html' %}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="box" style="max-width: 400px; margin: 0 auto; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;border: 1px solid #f1f1f1;">
                <h2 class="title">Sign Up</h2>
                <p class="subtitle is-6 mt-2">Please fill in the form to create an account.</p>
                <form class="signup-form">
                    <div class="field">
                        <div class="control">
                            <input class="input" id="first-name" type="text" placeholder="Enter your first name" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" id="last-name" type="text" placeholder="Enter your last name" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" id="city" type="text" placeholder="Enter your city" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" id="email" type="email" placeholder="Enter your email" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" id="password" type="password" placeholder="Enter your password" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" id="confirm-password" type="password" placeholder="Confirm your password" style="width: 100%; height: 45px;">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button style="width: 100%; height: 45px;" id="signup-button" class="button is-link" type="submit">Sign Up</button>
                        </div>
                    </div>
                    <p class="subtitle is-6 mt-2">Already have an account? <a href="/login" class="has-text-weight-bold">Login</a></p>
                    <div class="field">
                        <div class="control">
                            <button style="width: 100%; height: 45px;" id="google-signup-button" class="button" type="button">
                                <span class="icon">
                                    <img src="{{ url_for('static', filename='images/google.ico')}}" alt="Google icon">
                                </span>
                                <span>Continue with Google</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById('email').addEventListener('input', function () {
        const emailInput = this.value;
        const signupButton = document.getElementById('signup-button');

        if (validator.isEmail(emailInput)) {
            this.classList.remove('is-danger');
            this.classList.add('is-success');
        } else {
            this.classList.remove('is-success');
            this.classList.add('is-danger');
        }

        if (validator.isEmail(emailInput) && validatePassword(document.getElementById('password').value) && 
            document.getElementById('password').value === document.getElementById('confirm-password').value) {
            signupButton.disabled = false;
        } else {
            signupButton.disabled = true;
        }
    });

    document.getElementById('password').addEventListener('input', function () {
        const passwordInput = this.value;
        const signupButton = document.getElementById('signup-button');

        if (validatePassword(passwordInput)) {
            this.classList.remove('is-danger');
            this.classList.add('is-success');
        } else {
            this.classList.remove('is-success');
            this.classList.add('is-danger');
        }

        if (validatePassword(passwordInput) && validator.isEmail(document.getElementById('email').value) && 
            passwordInput === document.getElementById('confirm-password').value) {
            signupButton.disabled = false;
        } else {
            signupButton.disabled = true;
        }
    });

    document.getElementById('confirm-password').addEventListener('input', function () {
        const confirmPasswordInput = this.value;
        const signupButton = document.getElementById('signup-button');

        if (confirmPasswordInput === document.getElementById('password').value) {
            this.classList.remove('is-danger');
            this.classList.add('is-success');
        } else {
            this.classList.remove('is-success');
            this.classList.add('is-danger');
        }

        if (confirmPasswordInput === document.getElementById('password').value && 
            validatePassword(document.getElementById('password').value) && 
            validator.isEmail(document.getElementById('email').value)) {
            signupButton.disabled = false;
        } else {
            signupButton.disabled = true;
        }
    });

    document.getElementById('signup-button').disabled = true;

    function validatePassword(password) {
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        return regex.test(password);
    }

    document.getElementById('google-signup-button').addEventListener('click', function () {
        window.location.href = '/api/google/login';
    });

    /** 
     * post to /api/signup
     */
    document.getElementById('signup-button').addEventListener('click', function () {
        const firstName = document.getElementById('first-name').value;
        const lastName = document.getElementById('last-name').value;
        const city = document.getElementById('city').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        const signupButton = document.getElementById('signup-button');
        signupButton.disabled = true;
        signupButton.innerHTML = '<span class="icon is-loading"><i class="fas fa-spinner fa-spin"></i></span>';
        setTimeout(() => {
            signupButton.innerHTML = 'Sign Up';
            signupButton.disabled = false;
        }, 4000);
        fetch('/api/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                first_name: firstName,
                last_name: lastName,
                city: city,
                email: email,
                password: password,
                confirmPassword: confirmPassword
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === "User registered successfully") {
                    showNotification(data.message, 'success');
                    setTimeout(() => {
                        window.location = '/login'
                    }, 4000);
                } else {
                    signupButton.disabled = false;
                    signupButton.innerHTML = 'Sign Up';
                    showNotification(data.message, 'warning');
                }
            })
            .catch(error => {
                showNotification('An error occurred. Please try again', 'error');
                signupButton.disabled = false;
                signupButton.innerHTML = 'Sign Up';
            });
    });
</script>